In [5]:
import numpy as np
import pandas as pd

In [10]:
books = pd.read_csv('books_siddhi.csv')

In [7]:
import os

In [9]:
os.getcwd()

'C:\\Users\\Siddhi\\OneDrive\\Desktop\\JUPYTER\\books-recommendation-system'

In [11]:
books.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9.780000e+12,2005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9.780000e+12,2261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9.780010e+12,6163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9.780010e+12,6178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9.780010e+12,6280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [13]:
books.isnull().sum()

isbn13               0
isbn10               0
title                0
subtitle          4429
authors             72
categories          99
thumbnail          329
description        262
published_year       6
average_rating      43
num_pages           43
ratings_count       43
dtype: int64

In [14]:
books.duplicated().sum()

0

In [15]:
books=books[['isbn10','title','authors','categories','thumbnail','description','published_year','average_rating','ratings_count']]

In [16]:
books.head()

,isbn10,title,authors,categories,thumbnail,description,published_year,average_rating,ratings_count
0,2005883,Gilead,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,361.0
1,2261987,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,5164.0
2,6163831,The One Tree,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,172.0
3,6178731,Rage of angels,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,29532.0
4,6280897,The Four Loves,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,33684.0

In [17]:
books.isnull().sum()

isbn10              0
title               0
authors            72
categories         99
thumbnail         329
description       262
published_year      6
average_rating     43
ratings_count      43
dtype: int64

In [18]:
books1=books[['isbn10','title','authors','categories','thumbnail','description']]

In [19]:
books1.isnull().sum()

isbn10           0
title            0
authors         72
categories      99
thumbnail      329
description    262
dtype: int64

In [20]:
books1.dropna(inplace=True)

C:\Users\Siddhi\AppData\Local\Temp\ipykernel_22360\2811234954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books1.dropna(inplace=True)

In [21]:
books1.isnull().sum()

isbn10         0
title          0
authors        0
categories     0
thumbnail      0
description    0
dtype: int64

In [22]:
books1.duplicated().sum()

0

In [23]:
books1.iloc[0].categories

'Fiction'

In [24]:
books1['categories'][0]

'Fiction'

In [25]:
books1['description'][0]

'A NOVEL THAT READERS and critics have been eagerly anticipating for over a decade, Gilead is an astonishingly imagined story of remarkable lives. John Ames is a preacher, the son of a preacher and the grandson (both maternal and paternal) of preachers. It’s 1956 in Gilead, Iowa, towards the end of the Reverend Ames’s life, and he is absorbed in recording his family’s story, a legacy for the young son he will never see grow up. Haunted by his grandfather’s presence, John tells of the rift between his grandfather and his father: the elder, an angry visionary who fought for the abolitionist cause, and his son, an ardent pacifist. He is troubled, too, by his prodigal namesake, Jack (John Ames) Boughton, his best friend’s lost son who returns to Gilead searching for forgiveness and redemption. Told in John Ames’s joyous, rambling voice that finds beauty, humour and truth in the smallest of life’s details, Gilead is a song of celebration and acceptance of the best and the worst the world has to offer. At its heart is a tale of the sacred bonds between fathers and sons, pitch-perfect in style and story, set to dazzle critics and readers alike.'

In [67]:
books1['description']=books1['description'].apply(lambda x:x.split())

AttributeError: 'list' object has no attribute 'split'

In [86]:
new_df=books1[['isbn10','title','tags']]

In [87]:
new_df

,isbn10,title,tags
0,2005883,Gilead,"[A, NOVEL, THAT, READERS, and, critics, have, ..."
1,2261987,Spider's Web,"[A, new, 'Christie, for, Christmas', --, a, fu..."
2,6163831,The One Tree,"[Volume, Two, of, Stephen, Donaldson's, acclai..."
3,6178731,Rage of angels,"[A, memorable,, mesmerizing, heroine, Jennifer..."
4,6280897,The Four Loves,"[Lewis', work, on, the, nature, of, love, divi..."
...,...,...,...
6803,8173031010,Journey to the East,"[This, book, tells, the, tale, of, a, man, who..."
6804,817992162X,The Monk Who Sold His Ferrari: A Fable About F...,"[Wisdom, to, Create, a, Life, of, Passion,, Pu..."
6805,8185300534,I Am that,"[This, collection, of, the, timeless, teaching..."
6808,9027712050,The Berlin Phenomenology,"[Since, the, three, volume, edition, ofHegel's..."
6809,9042003405,'I'm Telling You Stories',"[This, is, a, jubilant, and, rewarding, collec..."

In [90]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Siddhi\AppData\Local\Temp\ipykernel_22360\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [91]:
new_df.head()

    isbn10           title                                               tags
0  2005883          Gilead  A NOVEL THAT READERS and critics have been eag...
1  2261987    Spider's Web  A new 'Christie for Christmas' -- a full-lengt...
2  6163831    The One Tree  Volume Two of Stephen Donaldson's acclaimed se...
3  6178731  Rage of angels  A memorable, mesmerizing heroine Jennifer -- b...
4  6280897  The Four Loves  Lewis' work on the nature of love divides love...

In [92]:
new_df['tags'][0]

'A NOVEL THAT READERS and critics have been eagerly anticipating for over a decade, Gilead is an astonishingly imagined story of remarkable lives. John Ames is a preacher, the son of a preacher and the grandson (both maternal and paternal) of preachers. It’s 1956 in Gilead, Iowa, towards the end of the Reverend Ames’s life, and he is absorbed in recording his family’s story, a legacy for the young son he will never see grow up. Haunted by his grandfather’s presence, John tells of the rift between his grandfather and his father: the elder, an angry visionary who fought for the abolitionist cause, and his son, an ardent pacifist. He is troubled, too, by his prodigal namesake, Jack (John Ames) Boughton, his best friend’s lost son who returns to Gilead searching for forgiveness and redemption. Told in John Ames’s joyous, rambling voice that finds beauty, humour and truth in the smallest of life’s details, Gilead is a song of celebration and acceptance of the best and the worst the world has to offer. At its heart is a tale of the sacred bonds between fathers and sons, pitch-perfect in style and story, set to dazzle critics and readers alike. F i c t i o n M a r i l y n n e  R o b i n s o n'

In [98]:
from sklearn.feature_extraction.text import CountVectorizer
cv =CountVectorizer(max_features=5000,stop_words='english')

In [96]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\siddhi\appdata\local\programs\python\python310\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\siddhi\appdata\local\programs\python\python310\lib\site-packages (from sklearn) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\siddhi\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.22.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\siddhi\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\siddhi\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.8.1)
Requirement already satisfied: joblib>=1.0.0 in c:\users\siddhi\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.1.0)

In [102]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [103]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [105]:
len(cv.get_feature_names())

5000

In [106]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 326.1 kB/s eta 0:00:00
Requirement already satisfied: joblib in c:\users\siddhi\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.1.0)
Collecting tqdm
  Downloading tqdm-4.64.0-py2.py3-none-any.whl (78 kB)
     -------------------------------------- 78.4/78.4 kB 311.5 kB/s eta 0:00:00
Collecting click
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     -------------------------------------- 96.6/96.6 kB 306.2 kB/s eta 0:00:00
Collecting regex>=2021.8.3
  Downloading regex-2022.4.24-cp310-cp310-win_amd64.whl (262 kB)
     ------------------------------------ 262.0/262.0 kB 277.9 kB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\siddhi\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.4)
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.1.3 nltk-3.7 regex-2022.4.24 tqdm-4.64.0

In [107]:
import nltk

In [108]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [122]:
def stem(text):
    p = []
    
    for i in text.split():
        p.append(ps.stem(i))
        return " ".join(p)

In [116]:
ps.stem('danced')

'danc'

In [123]:
stem('A NOVEL THAT READERS and critics have been eagerly anticipating for over a decade, Gilead is an astonishingly imagined story of remarkable lives. John Ames is a preacher, the son of a preacher and the grandson (both maternal and paternal) of preachers. It’s 1956 in Gilead, Iowa, towards the end of the Reverend Ames’s life, and he is absorbed in recording his family’s story, a legacy for the young son he will never see grow up. Haunted by his grandfather’s presence, John tells of the rift between his grandfather and his father: the elder, an angry visionary who fought for the abolitionist cause, and his son, an ardent pacifist. He is troubled, too, by his prodigal namesake, Jack (John Ames) Boughton, his best friend’s lost son who returns to Gilead searching for forgiveness and redemption. Told in John Ames’s joyous, rambling voice that finds beauty, humour and truth in the smallest of life’s details, Gilead is a song of celebration and acceptance of the best and the worst the world has to offer. At its heart is a tale of the sacred bonds between fathers and sons, pitch-perfect in style and story, set to dazzle critics and readers alike. F i c t i o n M a r i l y n n e  R o b i n s o n')

'a'

In [124]:
new_df['tags'].apply(stem)

0            a
1            a
2        volum
3            a
4       lewis'
         ...
6803       thi
6804    wisdom
6805       thi
6808      sinc
6809       thi
Name: tags, Length: 6247, dtype: object

In [125]:
from sklearn.metrics.pairwise import cosine_similarity

In [126]:
cosine_similarity(vectors).shape

(6247, 6247)

In [131]:
similarity=cosine_similarity(vectors)

In [135]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(875, 0.39019514637198177),
 (3136, 0.30892461453939823),
 (2107, 0.27624555330967854),
 (2190, 0.271244490402245),
 (647, 0.2684624220856097)]

In [141]:
def recommend(books1):
    book1_index=new_df[new_df['title']==books1].index[0]
    distances=similarity[book1_index]
    books_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in books_list:
        print(new_df.iloc[i[0]].title)
        print(i[0])
    return

In [152]:
recommend('Appointment with Death')

Hallowe'en Party
44
Murder on the Orient Express
5702
Hercule Poirot's Casebook
2354
The A.B.C. Murders
5703
The Murder of Roger Ackroyd
5706

In [138]:
new_df.iloc[5172].title

'The Eye of the I'

In [149]:
!pip install pickle

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [150]:
import pickle

In [151]:
pickle.dump(new_df,open('books.pkl','wb'))